In [3]:
from pandas import *
from statistics import *
from seaborn import *

In [4]:
dados = read_csv("tempo.csv", sep = ";")
dados.head()
dados.shape
dados.isnull()

    Aparencia  Temperatura  Umidade  Vento  Jogar
0       False        False    False  False  False
1       False        False    False  False  False
2       False        False    False  False  False
3       False        False     True  False  False
4       False        False    False  False  False
5       False        False    False  False  False
6       False        False    False  False  False
7       False        False    False  False  False
8       False        False    False  False  False
9       False        False    False   True  False
10      False        False    False  False  False
11      False        False    False  False  False
12      False        False    False  False  False
13      False        False    False  False  False

In [5]:
dados.groupby(["Aparencia"]).size()
dados.loc[(dados["Aparencia"] != "sol") & (dados["Aparencia"] != "chuva") & (dados["Aparencia"] != "nublado"), "Aparencia"] = "sol"
dados.groupby(["Aparencia"]).size()

Aparencia
chuva      5
nublado    3
sol        6
dtype: int64

In [6]:
dados["Temperatura"].describe()
dados.loc[(dados["Temperatura"] < -130) | (dados["Temperatura"] > 130), "Temperatura"] = median(dados["Temperatura"])
dados["Temperatura"].describe()

count    14.000000
mean     73.678571
std       6.556286
min      64.000000
25%      69.250000
50%      72.750000
75%      78.750000
max      85.000000
Name: Temperatura, dtype: float64

In [7]:
dados["Umidade"].describe()
mediana = median(dados["Umidade"])
dados["Umidade"].fillna(mediana, inplace = True)
dados.loc[(dados["Umidade"] < 0) | (dados["Umidade"] > 100), "Umidade"] = mediana
dados["Umidade"].describe()

count    14.000000
mean     81.285714
std       9.585073
min      65.000000
25%      71.250000
50%      85.250000
75%      89.000000
max      95.000000
Name: Umidade, dtype: float64

In [8]:
dados.groupby(dados["Vento"]).size()
dados["Vento"].fillna("FALSO", inplace = True)
dados.isnull()

    Aparencia  Temperatura  Umidade  Vento  Jogar
0       False        False    False  False  False
1       False        False    False  False  False
2       False        False    False  False  False
3       False        False    False  False  False
4       False        False    False  False  False
5       False        False    False  False  False
6       False        False    False  False  False
7       False        False    False  False  False
8       False        False    False  False  False
9       False        False    False  False  False
10      False        False    False  False  False
11      False        False    False  False  False
12      False        False    False  False  False
13      False        False    False  False  False

In [9]:
dados.groupby(["Jogar"]).size()

Jogar
nao    5
sim    9
dtype: int64